.black {
  background-color: black;
}
.green {
  background-color: green;
}
.blue {
  background-color: honeydew;
 
}

.div-picture {
  height: 200px;
  width: 25%;
  min-width: 150px;
  background-size:cover ;
}
.film-preview {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: #383030;
}
.film-info {
  height: 200px;
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-left: 1%;

}
.film-title {
  /* height: 20px; */
  width: 100%;
  font-size: 2em;
  text-align: center;
}
.film-title:hover
{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 800;
  color: brown;
}
.film-year {
  /* height: 20px; */
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
.film-rate {
  /* height: 20px; */
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
#baseContainer {
  
  /* background-color: rgb(155, 243, 255); */

}
.sizeItem
{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#navContainer{
    padding-top: 10px;
    max-width: 800px;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.nav-button{
    width: 16.5%;
}
.button-delete{
    position: absolute;
    top: 0;
    right: 0;
    visibility:hidden;
}
.button-update{
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}
#filmPoster{
  height: 300px;
  width: 300px;
  background-image: url("https://pbs.twimg.com/profile_images/1183667155759521793/8uLfpE8l_400x400.jpg");
  background-size: cover;
}
#sectionDetails{
  /* visibility: hidden; */
  display: flex;
  position: fixed;
  right: 0;
  top: 30px;
   flex-wrap: wrap;
 width: 60%;;
  visibility: hidden;
  z-index: 21;
  border: 3px solid black;
  background-color: gray;
}
#filmDescription{
  background-color: gray;
  width: 60%;;
}
#kwadrat
{
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  right: 0;
  
  background-color: white;
}
#serachSection{

  position: relative;
  background-color: black;
}
#filmsContainer
{
  
  position: relative;
}

#inputDiv{
  height: 300px;
  background-color: aqua;
  background-image: url("./facebook_cover_photo_2.png");
  background-size: contain;
  position: relative;
}
#addDiv{
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  visibility: hidden;
}
#updDiv{
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  visibility: hidden;
}

#searchInputDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  visibility: hidden;
}
#searchFilm{
  width: 79%;
}
#searchLabel{
  width: 20%;
}
#mainInfo
{
  background-color: gray;
}

.film-info > div
{
  color: white;;
}