.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
 
}

.div-picture {
  height: 200px;
  width: 25%;
  min-width: 150px;
  background-size:cover ;
}
.film-preview {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.film-info {
  height: 200px;
  width: 75%;
  background-color: lawngreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

}
.film-title {
  height: 20px;
  width: 100%;
  background-color: lemonchiffon;
}
.film-year {
  height: 20px;
  width: 100%;
  background-color: rgb(206, 0, 0);
}
.film-rate {
  height: 20px;
  width: 100%;
  background-color: rgb(5, 71, 255);
}
#baseContainer {
  max-width: 800px;
  background-color: purple;
  margin-left: auto;
  margin-right: auto;
}
#navContainer{
    max-width: 800px;
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.nav-button{
    width: 25%;
}
.button-delete{
    position: absolute;
    top: 0;
    right: 0;
    visibility:hidden;
}
.button-update{
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
#filmPoster{
  height: 300px;
  width: 300px;
  background-image: url("https://pbs.twimg.com/profile_images/1183667155759521793/8uLfpE8l_400x400.jpg");
  background-size: cover;
}
#sectionDetails{
  /* visibility: hidden; */
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
   flex-wrap: wrap;
 width: 40%;;
  
  z-index: 21;
}
#filmDescription{
  background-color: aqua;
  width: 60%;;
}
#kwadrat
{
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  right: 0;
  
  background-color: red;
}
#serachSection{

  position: relative;
}